<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="D:\HTFA07\app\static\styles.css">
        <title>DataVeil</title>
    </head>
    <body1>
        <!-- HEADER -->
        <header class="l-header">
            <nav class="nav bd-grid">
                <a href="#" class="nav__logo" style="color: white;">DataVeil</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="index.html" class="nav__link" style="color: white;">Home</a></li>
                    </ul>
                </div>
                

                <div class="nav__actions">
                    <div class="nav__toggle" id="nav-toggle">
                        <img src="assets/icons/bx-chevron-down.svg" alt="">
                    </div>
                    <a href="input.html" class="nav__btn" style="color: black;">Try It</a>
                </div>
            </nav>
        </header>
        <section class="form-container">
            <h2 style="text-align: center;">Upload CSV File</h2>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="csvFile">Choose a CSV file:</label>
                <input type="file" id="csvFile" name="file" accept=".csv" required>
        
                <button type="submit" style="color: black">Upload</button>
            </form>
        </section>
        
        <!-- GSAP -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>

        <!-- TIMELINE MAX -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js"></script>

        <!-- SCROLLMAGIC -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.min.js"></script>
        
        <!-- MAIN -->
        <script src="app/static/main.js"></script>
    </body1>
</html>